

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-size: 14px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color:hsl(216, 53%, 9%);
  }


  .attribution { font-size: 11px; text-align: center; }
  .attribution a { 
    color: #fff; 
    text-decoration: none;
  }

    footer p{
      color: rgb(211, 210, 230);
    }


  /*****  header section **/
#header{
  background-color: hsl(219, 30%, 18%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  
}

#header-logo{
  width: 20%;
  height: 20%;
  margin: 15px 0 0 10px;
}

.nav-header ul{
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
}

.nav-list{
  list-style: none;
  margin: 0 0 0 3em;
  
}

.nav-list a{
  text-decoration: none;
  color: #ccd7e4;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  
}

/****** main wrapper section ***/
.main-wrapper{
  background-image: url(images/bg-curvy-mobile.svg); 
  background-repeat: no-repeat;
  background-position: 30% 55%;
  background-color: hsl(219, 30%, 18%);
  background-size: 100%;
  padding: 6em 0;
  text-align: center;


}

#main-img{
  width: 80%;
  margin: 0 3.5em;
}

.biggest-words{
  color: #fff;
  font-size: 26px;
  margin: 2em 10px 1em;
}

.small-words{
  color: #ccd7e4;
  margin: 0 2.5em 1em;
  line-height: 25px;
}

.blue-butt{
 padding: 15px 80px;
 border-radius: 30px;
 background:linear-gradient(45deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%)) no-repeat;
 color: #fff;
 border: none;
}

/**  testimonial section**/
.testimonial-wrapper{
  background: hsl(218, 28%, 13%);
  margin-top: -20em;
  padding-top: 1em;
}


.cards-4{
  margin-top: 20em;
  text-align: center;
}

/**.testi-icon{
  margin-bottom: 1em;
}
**/

.column img{
  margin-top: 7em;
}

.bigger-words{
  font-size: 20px;
  margin: 2em 3em 0.8em 0;
  
  color: #fff;
  text-align: center;
}

.testi-image{
  width: 80%;
  margin: 10em 3.5em 2em;

}


#green-row{
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
  text-decoration: none;
  border-bottom: 1px solid ;
  padding-bottom: 4px;
  width: 33%;
  color:#5db8ab;
  margin: 0 2.5em;
}

.green-words{
  color:#5db8ab;
}

#little-icon{
width: 15%;
height: 10%;
margin-left: 5px;
margin-top: 0;
}

.cards{
  margin: 7em 0;
  z-index: 1;
}

.cards-quote{
  width: 5%;
  margin: 0 5.5em -4.5em;
  z-index: -1;
}

/**.column-cards    for desktop **/

.user-profile{
  display: flex;
  margin: 1em 0 0 0;
  
}
.column-card{
  background-color: #21293c;
  margin: 4em 3.5em -1em; 
  padding: 2em 1em 1.5em;
  border-radius: 3px;
  
}



/**.column-user{
  

}**/

.user-profile img{
  border-radius: 50px;
  width: 10%;
  height: 10%;
  margin: 0.5em 1em 0 0.5em;
}

.user-words{
  margin: 0 auto;
  font-weight: bold;
}

.smallest-words{
  font-size: 9px;
  margin: 0;
}

.column-words{
  margin: 0 0.5em;
}

.email-sec{
  background-color: hsl(217, 28%, 15%);
  text-align: center;
  padding: 10px 3px 5px;
  margin: 15em 2em 0;
  position: relative;
  border-radius: 5px;

}

form{
  display: flex;
  flex-direction: column;
  
}

.blue-size{
  width: 80%;
  margin: 0px auto 30px;
}

.white-size{
  width: 70%;
  padding: 15px 25px;
 border-radius: 30px;
 border: none;
 margin-top: 1em;
}
.no-bkcolor{
  background-color: hsl(216, 53%, 9%);
  
  
}

.center-bigger{
  margin-left: 3em;
}


/**   footer sec **/
#footer{
  background-color: hsl(216, 53%, 9%);
  margin: -12em 0 0 0;


}

.footer-logo{
  margin: 15em 0 0 4em;
}

.footer-cards{
  margin-top: -10em;
}

.footer-icon1{
  margin-bottom: -2em;

}

.icon-cards{
  margin-top: -13em;
}

.gmail{
margin-top: -8em;
}

.nav-footer{
  margin: -12em 0 8em;
  padding-left: 0;
}

.list-footer{
  margin: 15px -3px;
  list-style: none;
  
}

.about-top{
  margin-top: 3em;
}

.list-footer a{
  text-decoration: none;
  color: #e0e7ef;
  line-height: 25px;
}

.fab{
  
  font-size: 15px;
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  
  padding: 10px;
  margin-left: 10px;

}

.fa-facebook-f{
  
  border-radius: 50px;
  padding: 10px 13px;
}

.circle-cards{
margin: -8em 7em 0 ;

}

footer{
  background-color:  hsl(216, 53%, 9%);
  
}


/** hovers*/
.nav-list a:hover{
  color: #fff;
  text-decoration: underline;
}

.blue-butt:hover{
  cursor: pointer;
  background-color: white;
}

@media (min-width: 750px) {

  
  
}